@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=latin-ext');
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 1490px;
}
/* grid */
* {
	box-sizing: border-box;
}

.row:before, 
.row:after {
	content:"";
	display: table;
	clear: both;
 }
 
[class*="col-"] {
	float: left;
	min-height: 1px;
	padding: 5px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


.col-offset-1 {margin-left: 8.33%;}
.col-offset-2 {margin-left: 16.66%;}
.col-offset-3 {margin-left: 25%;}
.col-offset-4 {margin-left: 33.33%;}
.col-offset-5 {margin-left: 41.66%;}
.col-offset-6 {margin-left: 50%;}
.col-offset-7 {margin-left: 58.33%;}
.col-offset-8 {margin-left: 66.66%;}
.col-offset-9 {margin-left: 75%;}
.col-offset-10 {margin-left: 83.33%;}
.col-offset-11 {margin-left: 91.66%;}

/* HERO */

.hero {
    background-image: url(images/hero.jpg);
    background-repeat: no-repeat;
    height: 951px;
    margin-top: -50px;
}

.hero h1 {
    color: #fff;
    font-family: "Open Sans";
    font-size: 60px;
    font-weight: 300;
}

.hero p {
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}

.slogan {
    padding-top: 319px;
    padding-left: 318px;
}

.side {
    display: block;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    transform: rotate(-90deg);
    position: absolute;
    left: 15px;
    top: 60%;
}

/* START */
.start {
    height: 541px;
    margin-bottom: 84px;
}
.start h3 {
    color: #222626;
    font-size: 35px;
    font-weight: 300;
    line-height: 24px;
}

.start p {
    color: #959595;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.start .right {
    margin-top: 277px;
}

.start .left {
    margin-top: 113px;
}

/* GALLERY */

.gallery h3 {
    color: #fff;
    font-size: 30px;
    font-weight: 300;
    padding-left: 40px;
}

.gallery p {
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    padding: 0 40px 10px 40px;
}

.first {
    background-color: #f5989d;
}

.second {
    background-color: #615f7d;
}

.third {
    background-image: url(images/picture%203.jpg);
    background-repeat: no-repeat;
    height: 254px;
}

.four {
    background-color: #bd8cbf;
}

.fith {
    background-image: url(images/picture%205.jpg); 
    background-repeat: no-repeat;
    height: 254px;
}

.six {
    background-color: #82ca9c;
}

.seven {
    background-image: url(images/picture%207.png);
    height: 254px;
}

.gallery i.fa, .power i.fa {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 15px;
}

.fa-heart-o {
    float: right;
}


/* DETAILS */

.details {
    position: relative;
}

.details h3 {
    color: #67676d;
    font-size: 35px;
    font-weight: 300;
    line-height: 24px;
    margin-top: 97px;
}

.details h4 {
    color: #67676d;
    font-size: 13px;
    font-weight: 600;
    line-height: 24px;
    margin-top: 68px;
}

.details p {
    color: #959595;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 159px;
}

.asidedetalis {
    color: #b8b8b8;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    transform: rotate(-90deg);
    position: absolute;
    left: 15px;
    top: 45%;
}

/* POWER */

.power {
    background: url(images/car.jpg);
    background-repeat: no-repeat;
    height: 874px;
}

.power h1 {
    color: #fff;
    font-size: 60px;
    font-weight: 300;
    margin-top: 250px;
    margin-bottom: 30px;
}

.power p {
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}

.more {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}

/* REASONS */

.reasons {
    height: 536px;
    background-color: #82ca9c;
    position: relative;
}

.reasons h1 {
    color: #fff;
    font-size: 35px;
    font-weight: 300;
    line-height: 24px;
    margin-top: 124px;
    margin-bottom: 60px;
}

.reasons h4 {
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    line-height: 24px;
}

.reasons p {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.asidereasons {
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    display: block;
    font-size: 12px;
    transform: rotate(-90deg);
    position: absolute;
    left: 15px;
    top: 45%;
    
}
/* SHOP */

.shop {
    height: 620px;
    position: relative;
    background-color: #f6f7fa;
    padding-top: 150px;
}

.shop h1 {
    color: #2e3b4e;
    font-size: 30px;
    font-weight: 300;
    line-height: 40px;  
}

.shop p {
    color: #8297a7;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
}

.shop button {
    width: 151px;
    height: 46px;
    border-radius: 3px;
    border-color: #82ca9c;
    background-color: #82ca9c;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
}

.shop button:hover {
    background-color: #75B58C;
    border-color: #75B58C;
}

.shop span {
    border-radius: 5px;
    background-color: #bd8cbf;
    color: #fff;
    font-size: 11px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
    padding: 6px 12px;
}

.shop .fa {
    color: #c5c5c5;
    margin-top: 21px;
    margin-right: 16px;
}

.aside {
    display: block;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    transform: rotate(-90deg);
    position: absolute;
    left: 15px;
    top: 30%;
    color: #b8b8b8;
    font-weight: 600;
}

.legacy:hover, .mostPopular:hover {
    background-color: #fff;
    box-shadow: 10px 10px 75px #e1e1e1;
}

/* FOTTER */

footer {
    height: 608px;
    background-color: #192431;
}

footer h4 {
    color: #f6f7fa;
    font-size: 13px;
    font-weight: 600;
    line-height: 24px;
}

footer p {
    color: #f6f7fa;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}

.mail p {
    color: #57697f;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.contact h4 {
    margin-top: 120px;
}

.columns h4 {
    margin-top: 73px;
    margin-bottom: 29px;
}

.columns p {
    margin: 0;
}
.mail {
    margin-left: 60px;
}

input[type=email] {
    width: 430px;
    height: 58px;
    border-radius: 2px;
    background-color: #f6f7fa;
    position: relative;
    border: none;
}

.mail button {
    width: 70px;
    height: 58px;
    background-color: #82ca9c;
    border-color: #82ca9c;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    position: absolute;
}

.mail button:hover {
    background-color: #75B58C;
    border-color: #75B58C;
}

.mail i.fa {
    font-size: 26px;
    color: #fff;
}
